html,body,#app{
height: 100%;
margin:0;
padding: 0;


}

b{
  color: yellow;
}

.el-breadcrumb{
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  color:gray;
}
pre{
    color: white;
  
}